# dotenv_if_exists <= .env
# use node <= .nvmrc
# layout node

# AWS_PROFILE is used by AWS cli tool
# TF_VAR_aws_profile is used inside .tf files as `var.aws_profile`

export AWS_PROFILE=GERARDO
export TF_VAR_aws_profile=$AWS_PROFILE
